{
  "botToken": "DISCORD_BOT_TOKEN",
  "username": "WEKU_USERNAME",
  "postingKey": "WEKU_WIF",
  "weight": 80,
  "minPostAge": "30 minutes ago",
  "maxPostAge": "4 days ago",
  "commandPrefix" : "#",
  "adminList": [ "478630106257031189", "515134388892205056"],
  "runtimeConfigFile": "config-runtime.json"
}
